<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="pagina-dialogo">
    <div class="dialog container w-50 p-4 rounded">
        <h1>Login</h1>
        <hr>
        <form id="login-form" action="/login" method="post">
            <div class="mb-3">
                <label form="login-form" for="user-input" class="form-label">Usuario:</label>
                <input id="user-input" name="username" type="text" class="form-control" placeholder="Nombre" required>
            </div>
            <div class="mb-3">
                <label form="login-form" for="password-input" class="form-label">Contraseña:</label>
                <input id="password-input" name="password" type="password" class="form-control" required>
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
        <div class="d-flex justify-content-center">
          <a href="/register">¿No tienes cuenta? Regístrate aquí</a>
        </div>
    </div>
  </body>
</html>
