body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    display: flex;
    justify-content: center;
}

.column {
    float: left;
    width: 25%;
}

@media screen and (max-width: 900px){
    .column {
         width: 33%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 300px) {
    .column {
        width: 100%;
    }
}